.about-bg {
    background-image: url("https://i.ibb.co/CnsBnNQ/1.png"), url("https://i.ibb.co/ngz0KD6/juice-glass-1.png");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}